/*Reset*/
* {
    margin: 0; 
    padding: 0;
    outline: 0;  
    border: 0;
    box-sizing: border-box; 
}

/*Color*/
:root {
    --main-background-color: rgb(0, 0, 0);
    --btn-background-color: rgb(255, 255, 255);
}

/*Todo*/
body {
    display: flex;
    justify-content: center;
    background-color: var(--main-background-color);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 500px;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: var(--main-background-color);
    border: 1px solid white;
    border-radius: 30px;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 85%;
}

.control-panel__btn-dell,
.control-panel__btn-ad {
    width: 20%;
    height: 35px;
    border-radius: 10px;
    background-color: var(--btn-background-color);
    cursor: pointer;
}

.control-panel__btn-dell:active,
.control-panel__btn-ad:active,
.card__btn-dell:active {
    background-color: var(--main-background-color);
    border: 1px solid white;
    color: white;
}

.control-panel__input {
    text-align: center;
    border-radius: 5px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
    min-height: 120px;
    width: 75%;
    border: 1px solid white;
    border-radius: 10px;
}
.card__checkbox,
.card__input,
.card__btn-dell,
.card__time {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 3px;
}

.card__checkbox {
    width: 23px;
    height: 23px;
    cursor: pointer;
    accent-color: rgb(255, 255, 255);
}

.card__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 35px;
}
 
.card__btn-dell {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

.card__time {
    margin-top: auto;
}




